{% extends 'nav.html'%}
{% block home %}
{% load static %}


<div class="container-fluid" style="margin-top: 100px;">
    <div class="row">
<div class="col-md-4"> </div>

<div class="col-md-4">
<div class="card shadow-lg border-dark">
  <div class="card-body ">
    <h6 class="card-subtitle mb-2 text-muted">Don't have an account? <a href="/signup/" class="card-link">Create Account</a></h6>
<form action="/login/" method="POST">
    {% csrf_token %}
 <div class="form-group">
    
        <label for="exampleFormControlInput1">UserName</label>
    
    <input type="text" name="username" placeholder="Username" class="form-control" required="true"></div>
    <div class="form-group ">
    <label for="exampleFormControlInput2">Password</label>
    <input type="password" name="password" placeholder="Password" class="form-control" required="true"></div>
    
    <input type="submit" class="btn btn-success" value="Sign In">
    


</form>
</div>
</div>

</div>


{% endblock %}




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>